.Todo {
    width: 80%;
    display: flex;
    margin: 0 -3rem 4px;
    padding: 1.1rem 3rem;
    height: 20px;
    justify-content: space-between;
    align-items: center;
    background: white;
    color:crimson;
    overflow: hidden;
    position: relative;
    transition: opacity 500ms ease-in-out;
  }
  .Todo-task {
    position: relative;
    transition: opacity 0.4s linear;
    cursor: pointer;
  }
  .Todo.completed {
    transition: opacity 300ms ease-in-out;
    transition-delay: 200ms;
    opacity: 0.5;
  }
  
  .Todo.completed .Todo-task:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -0.5rem;
    display: block;
    width: 0%;
    height: 4px;
    background: #fff;
    animation: strikeitem 0.3s ease-in 0s forwards;
  }
  
  @keyframes strikeitem {
    to {
      width: calc(100% + 1rem);
    }
  }
  
  .Todo-buttons {
    flex-shrink: 0;
    padding-left: 0.7em;
    margin-left: auto;
  }
  
  .Todo-buttons button {
    border: none;
    font-size: 1em;
    margin: 0.4em;
    background: none;
    -webkit-appearance: none;
    cursor: pointer;
    color: #fff;
  }
  


  .fa-trash {
    color: crimson;
  }